# KalOnline Texture List (N.ENV format)
# Format: TextureID=filename
# Lines starting with # are comments

# Terrain textures
0=grass01.dds
1=grass02.dds
2=dirt01.dds
3=dirt02.dds
4=stone01.dds
5=stone02.dds
6=sand01.dds
7=sand02.dds
8=water01.dds
9=water02.dds

# Rock textures
10=rock01.dds
11=rock02.dds
12=rock03.dds
13=cliff01.dds
14=cliff02.dds

# Path textures
15=path01.dds
16=path02.dds
17=cobble01.dds
18=cobble02.dds

# Special textures
19=lava01.dds
20=ice01.dds
21=snow01.dds
22=mud01.dds

# Building textures
23=wall01.dds
24=wall02.dds
25=roof01.dds
26=roof02.dds
27=door01.dds
28=window01.dds

# Nature textures
29=tree_bark01.dds
30=tree_bark02.dds
31=leaves01.dds
32=leaves02.dds
33=flower01.dds
34=flower02.dds

# Water effects
35=water_normal.dds
36=water_foam.dds
37=waterfall01.dds

# Dungeon textures
38=dungeon_wall01.dds
39=dungeon_wall02.dds
40=dungeon_floor01.dds
41=dungeon_floor02.dds
42=dungeon_ceiling01.dds

# Town textures
43=town_road01.dds
44=town_road02.dds
45=town_plaza01.dds
46=market_stall01.dds

# Castle textures
47=castle_wall01.dds
48=castle_wall02.dds
49=castle_tower01.dds
50=castle_gate01.dds
